# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*.local

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE specific files
.vscode/
.idea/

# Dependency lock files (optional)
package-lock.json
yarn.lock

# Others
*.tmp
